<!DOCTYPE html>
<html>
<head>
  <title>Hyperloop Team | University of California,Davis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon icon -->
  <link rel="icon" href="../images/favicon-1.ico" type="image/x-icon">
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.css">
  <!-- front-awesome -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- AnimationCss -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <!-- Custom css -->
  <link rel="stylesheet" type="text/css" href="/dist/css/index.css">
</head>
<body>
  <div class="loader-container">
    <div class="loader">
      Loading...
    </div>
  </div>

  <div class="wrapper">
    <!-- If user logs in as Admin, then display admin page -->
    {{#if isAdmin}}
      <!-- Header Admin site -->
        <header>
          <div class="container-fluid">
            <nav class="admin-navbar">
              <li>
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <a href="/admin/">DashBoard</a>
              </li>
              <li>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <a href="/logout">Log out</a>
              </li>
            </nav>
          {{#if isSubteam}}
            <nav class="row no-gutters">
              <div class="col-12 col-md-2 manage-team">
                <h3>Manage</h3>
                <li class="{{#if subteamFolder}}nav-admin-active{{/if}}">
                  <a href="/admin/team/{{team}}">
                    <div>
                      <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </div>
                    {{team}}
                  </a>
                </li>
                <li class="{{#if memberFolder}}nav-admin-active{{/if}}">
                  <a href="/admin/team/{{team}}/members">
                    <div><i class="fa fa-users" aria-hidden="true"></i></div>  
                    Members
                  </a>
                </li>
                <li class="{{#if imageFolder}}nav-admin-active{{/if}}">
                  <a href="/admin/team/{{team}}/updates">
                    <div><i class="fa fa-picture-o" aria-hidden="true"></i></div>  
                    Updates
                  </a>
                </li>
              </div>
            </nav>
          </div>
          {{/if}}
        </header>

      <!-- Body Admin site -->
        <div class="container-fluid">

          <!-- Display any message -->
          {{#if message}}
            <div class="message">
              <p>{{message}}</p>
            </div>
          {{/if}}

          <!-- Display body -->
          {{{body}}}
        </div> 
      <!-- End of Admin site -->

    {{else}}
    <!-- If not, then display navbar for clients -->
      <!-- Header Client site -->
      <header>
        <a class="logo" href="/"><img src="../images/ucd-logo.png" alt="logo"></a>
        <nav id="nav-client" class="nav-client">
          <li class="{{#if home}}nav-client-active{{/if}}">
            <a href="/"><i class="fa fa-home"></i>
            <span>Home</span>
          </a></li>
          <li class="{{#if teams}}nav-client-active{{/if}}">
            <a href="/teams">
              <i class="fa fa-users"></i>
              <span>Teams</span>
            </a>
          </li>
          <li class="{{#if contact}}nav-client-active{{/if}}">
            <a href="/contact">
              <i class="fa fa-phone"></i>
              <span>Contact</span>
            </a>
          </li>
          {{!-- <li class="{{#if donate}}nav-client-active{{/if}}">
            <a href="/donate">
              <i class="fa fa-handshake-o"></i>
              <span>Donate</span>
            </a>
          </li> --}}
        </nav>
      </header>

      <!-- Body Client Site -->
        <div class="container-fluid">
          {{{body}}}
        </div>

      <!-- Footer -->
        <footer>
          <div class="container">
            <div class="row no-gutters">
              <div class="col-sm-12 col-md-6">
                <div class="slack-icon">
                  <a href="https://ucdhyperloopteam.slack.com" target="_blank">
                    <img src="../images/slack.png" alt="icon">
                    <h5>Chat with us on slack </h5>
                  </a></div>
                <hr>
              </div>
              <div class="col-sm-12 col-md-6">
                <h4>Contact us</h4>
                <div class="contact-item">
                  <h5>
                    <a href="mailto:hyperloopucd@gmail.com">
                      hyperloopucd@gmail.com
                    </a>
                  </h5></div>
                <div class="social-icon">
                  <a href="https://twitter.com/HyperloopUCD" target="_blank">
                  <img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png" width="35" height="35" />
                  </a>
                  <a href="https://www.facebook.com/HyperloopUCD/" target="_blank">
                  <img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35" />
                  </a>
                  <a href="https://www.instagram.com/hyperloop_ucd/" target="_blank">
                  <img title="Instagram" alt="RSS" src="https://socialmediawidgets.files.wordpress.com/2014/03/10_instagram.png" width="35" height="35" />
                  </a></div>
              </div>
            </div>
          </div>
        </footer>
      <!-- End of Client Site -->
      
    {{/if}}
  </div>

  <!-- JS -->
  <script src="/dist/js/index.js" type="text/javascript"></script>
</body>
</html>