<div class="subteam-page">
  <div class="team-intro">
    <img src={{teamData.teamImg}} alt="team image">
    
    <h1>{{name}}</h1>
    <div class="toggle-text">
      <p class="main-text">{{teamData.mainTeamDetail}}
      <span id="toggle-text-btn" class="fa fa-chevron-down"></span></p>
      <p>{{teamData.moreDetail}}</p>
    </div>
  </div>

  <div class="team-members">
    <h2>Our team</h2>
    <hr>
    <ul class="team-card-img">
      {{#each teamData.members}}
        <li>
          <img src={{this.member_img_link}} class="empty-user" alt="">
          <h3>{{this.member_name}}</h3>
          <h5>{{this.member_title}}</h5>
        </li>
      {{/each}}
      <li>
        <img src="../images/empty-avatar.png" class="empty-user" alt="">
        <h3>You?</h3>
        <h5>Email Us!</h5>
      </li>
    </ul>
  </div>

  <div class="team-update">
    <h2>Our progress</h2>
    <hr>
    <ul class="team-card-img">
      {{#each teamData.updates}}
        <li class="animated effect">
          <img src={{this.img_link}} alt="subteam-img">
          <p>{{this.detail}}</p>
        </li>
        {{/each}}
    </ul>
  </div>

</div>