<div class="subteam-page">
  <div class="team-intro">
    <h1>{{name}} team</h1>
    <img src={{teamData.teamImg}} alt="team image">
    <p>{{teamData.teamDetail}}</p>
  </div>
  <ul>
    {{#each teamData.imgData}}
      <li class="animated effect">
        <p>{{this.detail}}</p>
        <img src={{this.img_link}} alt="subteam-img">
      </li>
      {{/each}}
  </ul>
</div>