<div class="subteam-page">
  <div class="team-intro">
    <h1>{{name}} team</h1>
    <img src={{teamData.teamImg}} alt="team image">
    <div class="toggle-text">
      <p class="main-text">{{teamData.mainTeamDetail}}
      <span id="toggle-text-btn" class="fa fa-chevron-down"></span></p>
      <p>{{teamData.moreDetail}}</p>
    </div>
  </div>
  <ul>
    {{#each teamData.imgData}}
      <li class="animated effect">
        <p>{{this.detail}}</p>
        <img src={{this.img_link}} alt="subteam-img">
      </li>
      {{/each}}
  </ul>
</div>