{{!-- Images teamplate for each sub-team --}}
  {{!-- Display team images --}}
  <div class="content-after-message">
    <div class="row">
      <div class="col-9 ml-auto subteam-pg">
        <h1>{{teamName}}</h1>
        <hr />
        {{#each teamData}}
          <div class="subteam-img">
            <img src={{this.img_link}} alt="team-img">
            <p>{{this.detail}}</p>
            <a href="/admin/team/{{../teamName}}/{{this.id}}">&#10005;</a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>