{{!-- Subteam teamplate--}}

<div class="col-12 col-md-9 col-lg-10 ml-md-auto content"> 
  {{!-- Display any message --}}
  {{#if message}}
  <div class="message">
    <p>{{message}}</p>
  </div>
  {{/if}}

  {{!-- Display team data --}}
  <div class="subteam-pg">
    <h1>{{teamName}}</h1>
    {{#each teamData}}
      <div>
        <img src={{this.img_link}} alt="team-img">
        <p>{{this.detail}}</p>
        <a href="/admin/team/{{../teamName}}/{{this.id}}">Delete</a>
      </div>
    {{/each}}
  </div>
</div>